.EventsSlider {
  width: 100%;
  margin: auto;
  z-index: 1;

  &--item {
    text-align: center;
    font-family: var(--font-name--marana);
    color: var(--white);
    opacity: 1;
    font-size: 4.7rem;
    letter-spacing: -0.079em;
    cursor: pointer;

    a {
      color: currentColor;
      font-size: inherit;
    }

    @media (--tablet) {
      font-size: 9.4rem;
    }
  }

  &--description {
    display: block;
    color: var(--white);
    font-size: 2rem;

    text-align: center;
    transform: translateZ(0);
    margin: 0 3rem;

    @media (--tablet) {
      margin: 0;
      font-size: 3rem;
    }

    span {
      font-family: var(--font-name--marana);
      font-size: 2.5rem;

      @media (--tablet) {
        font-size: 4rem;
      }
    }
  }
}
