.EventsSlider {
  width: 100%;
  margin: auto;
  z-index: 1;

  &--item {
    text-align: center;
    font-family: var(--font-name--marana);
    color: var(--white);
    opacity: 1;
    font-size: 9.4rem;
    letter-spacing: -0.079em;
    cursor: pointer;
  }

  &--description {
    margin-top: 2rem;
    text-align: center;

    transform: translateZ(0);

    li,
    a {
      color: var(--white);
    }

    li {
      overflow: hidden;

      span {
        display: inline-block;
        transition: transform 0.25s;
      }
    }

    &.out {
      li span {
        transform: translateY(-100%) translateZ(0);
      }
    }
  }
}
